name: Build and push

on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: build
  cancel-in-progress: true

jobs:
  build-and-push:
    name: Build and push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract app image metadata
        id: meta-app
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=sha
            type=raw,value=latest

      - name: Extract migrate image metadata
        id: meta-migrate
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}-migrate
          tags: |
            type=sha
            type=raw,value=latest

      - name: Build and push migrate
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta-migrate.outputs.tags }}
          labels: ${{ steps.meta-migrate.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: migrate.Dockerfile

      - name: Build and push app
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta-app.outputs.tags }}
          labels: ${{ steps.meta-app.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
